/* Add application styles & imports to this file! */

section {
  display: flex;
  flex-flow: column;
  gap: 12px;
}

input {
  width: 200px;
  border-radius: 6px;
  height: 20px;
}

section > .item-wrapper {
  display: flex;
}

section > .item-wrapper > :first-child {
  min-width: 120px;
  color: brown
}
